/* Keep your existing CSS rules */

.footer {
  width: 100%;
  height: 100px;
  background: rgb(33, 143, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.socialMedia svg {
  color: rgb(3, 18, 99);
  margin: 20px;
  margin-bottom: 0px;
  font-size: 300%;
  cursor: pointer;
}

/* Hover style */
.socialMedia svg:hover {
  color: yellow;
}

.footer h2 {
  font-family: "Courier New", monospace;
  color: white;
  font-weight: bolder;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
  .footer {
    height: auto; /* Allow height to adjust based on content */
  }

  .footer p {
    font-size: 16px; /* Adjust font size for smaller screens */
  }

  .socialMedia svg {
    font-size: 40px; /* Adjust social media icon size */
    margin: 10px; /* Reduce margin for smaller screens */
  }
}
