.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #3e497a;
  }
  
  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: justify;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .about h2 {
    font-family: "Courier New", monospace;
    font-size:400%;
    color:  rgb(33, 143, 247);
    margin: 0px;
  }
  
  .about .prompt {
    font-size: 200%;
    text-align: justify;
    padding: 2%;
    font-family: "Comic Sans MS", cursive;
  }
  .prompt svg {
    font-size: 60px;
    margin: 5px;
    color: rgb(33, 143, 247);
  }
  
  .skills {
    font-size: 200%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black; 
    
  }
  /* Fixed Row of Cards Style */
/* Fixed Row of Cards Style with Hover Expand */
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px; 
}

.item {
  flex: 1;
  color: white;
  background-color: rgb(33, 143, 247);
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  transition: all 0.5s ease;
}

@media (min-width: 768px) {
  .item {
    flex-basis: calc(28% - 10px); /* Three cards per row with a 10px gap on larger screens */
  }
}

@media (max-width: 767px) {
  .item {
    flex-basis: 100%; /* Full width on smartphones */
    max-width: none; /* Remove any max-width constraint */
  }
}




.item:hover {
  background-color: yellow;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 600px; /* Adjust the max height as needed */
  transition: all 0.2s ease;
  /*overflow: auto; /* Enable scrolling for expanded content */
}


  
  .skills h1 {
    color:  rgb(3, 18, 99);
    padding: 0;
    font-size: 200%;
    border: 0;
    text-align: center;
    margin: auto;
    font-family: "Comic Sans MS", cursive;
   }
  
  .skills .list {
    list-style: "";
    width: 95%;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    font-family: "Courier New", monospace;   

  }

  li{    
    border-radius: 10px;
    padding: 0.5%;
    margin: 2%;
    font-weight: bold;
    background-color: yellow;
    color: black;
    text-align: center;
    font-weight: bolder;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
    /* min-height: 300px;
    float: left;
    width: 45%; */
  }
  .skills .list :hover{
    background-color: yellow;
    color: black;
  }
   h2{
    color: rgb(1, 20, 75);
    margin:0;
    padding: 0;
    font-size: 100%;
    
    /* text-align: center; */
  }
 
  .list span {
    font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .skills {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
    }
  }
