.project {
    width: 100%;
    /* height: calc(100vh - 100px); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .project h1 {
    margin-top: 50px;
    color: rgb(4, 35, 212);
    font-size: 35px;
  }
  .project img {
    width: 700px;
    border-radius: 10px;
  }
  
  .project p {
    color:  black;
    font-weight: bolder;
  }
  
  .project svg {
    font-size: 40px;
    color: rgb(3, 18, 99);
  }